
{%- macro Button(size, slug, bookURL) -%}
<p class="{{ size }} download-button">
  <span class="image" style="background-image: url(/assets/img/books/{{ slug }}-thumb.png)"></span>
  <a href="/books/{{ bookURL }}">Download this guide</a>
  <span class="formats">epub &middot; pdf &middot; mobi</span>
</p>
{% endmacro %}