
{%- macro buyButton(size, url, slug) -%}
<p class="{{ size }} buy-button">
  <span class="image" style="background-image: url(/assets/img/books/{{ slug }}-thumb.png)"></span>
  <a href="{{ url }}">Buy this guide</a>
  <span class="formats">epub &middot; pdf &middot; mobi</span>
</p>
{% endmacro %}