{%- macro postsList(posts) -%}
{%- from "macros/tags-list.njk" import tagsList %}

<ul class="post-list">
    {% for post in posts | sortDesc %}
    <li class="post-list-item">
        <a class="post-list-item-title" href="{{ post.url }}">{{ post.data.title }}</a>
        <p class="post-list-item-exerpt">
            {{ post.data.description }}
        </p>
    </li>
    {% endfor %}
</ul>
{% endmacro %}