<!DOCTYPE html>
<html lang='en'>
<head>
    {% include 'partials/_head.njk' %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E7W8VV3ZF9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E7W8VV3ZF9');
    </script>
</head>
<body>
    <a id="top"></a>
    {% include 'partials/_header.njk' %}

    <main>
        {{ content | safe }}
    </main>

    {% include 'partials/_footer.njk' %}

    {% include 'partials/_scripts.njk' %}
</body>
</html>