<!DOCTYPE html>
<html lang='en'>
<head>
    {% include 'partials/_head.njk' %}
    <style>
      html {
        font-size: 300%;
      }
      body {
        max-width: 100%;
        position: relative;
      }
      body::before {
        content: '';
        position: absolute;
        left:0;
        top: 0;
        bottom: 0;
        width: 10vw;
        background-color: #123;
      }
      .page-header, .page-header h3 {
        margin-top: 0;
      }
      .wrapper {
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100vw;
        padding-left: 10vw;
      }
      main {
        padding-bottom: 6rem;
      }
      .meta {
        text-align: left;
        position: absolute;
        bottom: 20vw;
        left: 15vw;
        font-size: 0.75rem;
      }
      #description {
        width: 75%;
      }
    </style>
</head>
<body class="social">
    <div class="wrapper">
    
      <div>

        {% include 'partials/_header.njk' %}

        <main>
              {{ content | safe }}
        </main>
        <p class="meta">
          Donovan Hutchinson <br>
          <span style="font-size: 0.75rem;"><a href="/">GetStartedWith.dev</a></span>
        </p>
      </div>

    </div>

    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const titleText = urlParams.get('title');
      const descriptionText = urlParams.get('description');
      const imageName = urlParams.get('image');

      const title = document.querySelector('#title');
      title.innerText = titleText;

      const desc = document.querySelector('#description');
      desc.innerText = descriptionText;

      const image = document.querySelector('#image');
      //image.src = `/assets/img/posts/${imageName}`;
    </script>
</body>
</html>