---
layout: layouts/_base.njk
---

{% from "macros/tags-list.njk" import tagsList %}
{% from "macros/button.njk" import Button %}

<article class="post">
    <header class="post-header">
        <h1>{{ title }}</h1>
        <p class="lead">{{ lead }}</p>
        {{ Button('large', slug, book) }}
        <details>
            <summary>Table of contents</summary>
            {{ content | toc | safe }}
        </details>
    </header>
    
    <div class="post-content">
        {{ content | safe }}
    </div>

    <h3>Support this site</h3>

    <p>This site is advert-free, and I publish all the content of each guide for free online. If you'd like to support this site, please consider buying an eBook version of this post. It is available in ePub, PDF and mobi formats.</p>

    {{ Button('large', slug, book) }}

</article>

<div class="back-to-top" id="back-to-top">
    <p><a href="#top">Back to top</a></p>
</div>

<div class="download-this-guide" id="download-this-guide">
    {{ Button('small', slug, book) }}
</div>