<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description or metadata.description }}">
<meta name="author" content="{{ author or metadata.author }}"/>
<title>Get Started With {%- if renderData.title %} {{ renderData.title }} - {% elif title %} {{ title }} - {% endif %}{{ metadata.title }}</title>

<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/logos/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/logos/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/logos/favicon-16x16.png">

<link rel="stylesheet" type="text/css" href="{{ '/assets/css/code-highlight.css' | url | bust }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/styles.css' | url | bust }}">

<!-- Social meta tags -->
<meta property="og:title" content="{%- if renderData.title %}{{ renderData.title }} - {% elif title %}{{ title }} - {% endif %}GetStartedWith.dev">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="https://getstartedwith.dev/assets/img/social/{%- if slug %}{{ slug }}{% else %}home{% endif %}.png">
<meta property="og:url" content="https://getstartedwith.dev{{ page.url }}">
<meta name="twitter:card" content="summary_large_image">

